@use '../../../node_modules/sass-mq/mq';
@import "../../variables";



.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: $card_padding;

  height: 100%;
  max-width: 100%;
  min-height: 330px;
  transition: box-shadow .2s;
}

.Card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.Button {

  background-color: rgba(218,165,32, 0.3);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 1em;
  transition: background-color 1s linear;
}

.Button:hover {
  background-color: rgba(218,165,32, 0.9);

}

.ButtonContainer {


  width: 100%;
  margin-left: auto;
  display: flex;

  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1em;


}


.CardContainer {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  transition: transform .2s;
  z-index: 10;
}

.CardContainer:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.Content {
  scale: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  min-height: 330px;

}

.Content h3 {
  text-align: center;
}

